<p>
  <b>Title:</b>
  <%=h @review.title %>
</p>

<p>
  <b>Author:</b>
  <%=h @review.author %>
  <% if @review.happy == true %>
	is happy!
  <% else %>
	is not happy
  <% end %>
</p>

<p>
  <b>Body:</b>
  <%=h @review.body %>
</p>

<p>
	<strong>Rating: </strong>
		<% @review.rating.times do %>
			&#9733;
		<% end %>
</p>
<p>
	<strong>Location: </strong> <%= link_to @review.location_name, @review.location %>
	<br />
	<%= google_map(@review.location_address, :size => "256x256", :color => "red")%>
</p>
<div id="show-actions">
	<%= link_to 'Edit', edit_review_path(@review), {:class => "button"} %>
	<%= link_to 'Back', reviews_path, {:class => "button"} %>
</div>
