<p>
  <b>Name:</b>
  <%=h @location.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @location.address %>
</p>
<%= google_map(@location.address, :size => "256x256", :color => "red")%>
<% @a = 0 %>
<% @b = 0 %>
<% @location.reviews.each do |review|%>
	<% if review.happy == true %>
		<% @a += 1 %>
	
	<% else %>
		<% @b += 1 %>
	<% end %>
<% end %>
<%= google_graph @a, @b %>

<p>
  <b>Simular Reviews</b>
  <% @location.reviews.each do |sim_location| %>
	<br />
	<%= link_to sim_location.title ,"/reviews/show/#{sim_location.id}" %>
  <% end %>
</p>
<br />
<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
